/*** Custom  variables*/
/* default media query */
$screen-med-w: 48rem;

/*default sizes*/
$full-w: 100%;
$big-w: 75%;
$med-w: 50%;
$small-w: 25%;

/*default spacing*/
$big-spacing: 40px;
$reg-spacing: 20px;
$small-spacing: 10px;

/* custom sizes */
$body-w: $full-w;
$custom-container-w: $big-w;
$list-item-padding: $small-spacing;

$navbar-h: 105px;



/*** Global */
* {
    box-sizing: border-box;
}

body {
    width: $body-w;
    font-family: sans-serif;
    font-size: 1rem;
    color: #222;
    margin: 0 auto;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

img {
    width: auto;
    height: $full-w;
    margin: 0;
    padding: 0;
}


/*** Container Classes */
.container {
    width: 100%;
    margin: 0 auto $big-spacing;
    border: 1px solid red;

    &.custom {
        // width: 80% if needed on mobile
        @media (min-width: $screen-med-w) {
           width: $custom-container-w; 
        }
    }

    &.space-in {
        padding: $reg-spacing;
    }
}

.navbar {
    width: $full-w;
    height: $navbar-h;
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 

    flex-direction: row; // default direction
    -webkit-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center; //default alignment
    -webkit-box-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;

    &.col {
        @media (min-width: $screen-med-w) {
            flex-direction: row;
            -webkit-box-flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            width:25%;
            min-height: 100vh;
        }
    }
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;

    & li {
        padding: $list-item-padding;
    }

    & a {
        font-size: 0.95rem;

        &:hover {
            color: lighten(#222, 20%);
        }
    }

    &.list-row li{
        display: inline-block;
    }

    &.list-col li{
        display: block;
    }

    @media (min-width: $screen-med-w) {
        display: block;
    }
}

.content-box {
    width: 100%;
    padding: $reg-spacing;
    flex-basis: $small-w;
    flex-grow: 1;
    border: 1px solid red;

    &.space-none {
        padding: 0;
    }

}


/*** Modifier Classes*/

/* Sizes */ 
.full-w {
    width: $full-w;
}

.med-w {
    width: $med-w;
}


/* Spacing */
.space-in {
    padding: $reg-spacing;
}

/* Grid */
.d-grid {
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    
    flex-direction: column; //default
    -webkit-box-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    flex-wrap: wrap;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;

    &.resp {
        @media (min-width: $screen-med-w) {
            flex-direction: row;
            -webkit-box-flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
        }
    }
}

.d-row {
    flex-direction: row;
    -webkit-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.d-col {
    flex-direction: column;
    -webkit-box-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.d-end {
    justify-content: flex-end;
    -webkit-box-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
}

.d-center-s {
    @media (min-width: $screen-med-w) {
        justify-content: center;
        -webkit-box-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
    }
}

.d-center-m {
    justify-content: center;
    -webkit-box-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
}

.d-between-s {
    @media (min-width: $screen-med-w) {
        justify-content: space-between;
        -webkit-box-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
    }
}

.d-between-m {
    justify-content: space-between;
    -webkit-box-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
}