/**
*
* Custom variables 
*/

/* media query */
$s-med: 48rem;

/*default sizes*/
$s-body: 100%;
$r-custom-container-w: 80%;
$r-custom-navbar-h: 75px;

$r-pad: 20px; 
$r-li-pad: 10px; 



/**
*
* Global 
*/

* {
    box-sizing: border-box;
}

body {
    width: $s-body;
    margin: 0 auto;
    padding: 0;
}


/**
*
* Containers 
*/

/* full screen width container */
.container {
    width: 100%;
    margin: 0 auto 20px;
    border: 1px solid red;

    /* custom size*/
    &.custom {
        width: $r-custom-container-w;
    }

    &.sticky-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0;
    }

    & .container.custom {
        margin-bottom: 0;
    }

    /* for including sticky content*/
    &.navbar-sticky, &.sticky-bottom{
        height: $r-custom-navbar-h;
    }

    /* for adapting sticky content with site's body in custom container*/
    &.content-custom.navbar-sticky, &.content-custom.sticky-bottom {      
        & .navbar {
            width: $r-custom-container-w;
            left: (100% - $r-custom-container-w) / 2;
        }
    }
}


/* for including nav menu, logo menu, pagination...*/
.navbar {
    width: 100%;
    height: $r-custom-navbar-h;
    padding: $r-pad;
    margin: 0;
    display: none;
    align-items: center;
    flex-direction: row;
    border: 1px solid blue;

    @media (min-width: $s-med) {
        display: flex;
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    
    &.sticky-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    &.col {
        @media (min-width: $s-med) {
            flex-direction: column;
            width:25%;
            height: 100vh;
        }
    }
}

/* to handle menus items*/
.navbar-menu {
    margin: 0;
    padding: 0;
    /*display: none;*/
    list-style-type: none;
    border: 1px solid red;

    @media (min-width: $s-med) {
        display: block;
    }

    & li {
        padding: $r-li-pad;
        text-align: center;
        display: inline-block;
    }

    &.list-col li{
        display: block;
    }
}


/**
*
* Modifier  
*/

.r-pad {
    padding: $r-pad;
}


/**
*
* Grid
*/

/* structure position*/
.d-grid {
    display: flex;
    flex-wrap: nowrap;
}

.d-row {
    flex-direction: row;
}

.d-col {
    flex-direction: column;
}

/* element position */
.d-end {
    justify-content: flex-end;
}

.d-center {
    justify-content: center;
}