/*** Custom  variables*/
/* media query */
$s-med: 48rem;

/*default sizes*/
$s-body: 100%;
$s-custom-container: 80%;
$r-pad: 20px; 
$r-li-pad: 10px; 



/*** Global */
* {
    box-sizing: border-box;
}

body {
    width: $s-body;
    margin: 0 auto;
    padding: 0;
}


/*** Container Classes */
.container {
    width: 100%;
    margin: 0 auto;

    &.custom {
        // width: 80% if needed on mobile
        @media (min-width: $s-med) {
           width: $s-custom-container; // change value in custom variable
        }
    }
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; // default direction
    border: 1px solid red;

    &.col {
        @media (min-width: $s-med) {
            flex-direction: row;
            width:25%;
            min-height: 100vh;
        }
    }
    
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid red;

    & li {
        padding: $r-li-pad;
    }

    &.list-row li{
        display: inline-block;
    }

    &.list-col li{
        display: block;
    }
}


/*** Modifier Classes*/
.r-pad {
    padding: $r-pad;
}

/* Grid */
.grid {
    display: flex;
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}